/* UTILS */
:root {
  --dark: #2b2e4a;
  --header-dark: #313555f7;
  --light-dark: #34385c;
  --red: #da0037;
  --dark-red: #800120;
  --gray: #777777;
  --white: #ededed;
}

/* .grid-item,
header,
main,
nav,
aside,
footer,
div {
  border: 1px solid #377eff;
} */

.red {
  color: var(--red);
}

.clickable-link {
  transition: color 0.25s;
}

.clickable-link:hover {
  transition: 0.25s;
  color: var(--dark-red);
  cursor: pointer;
}

.hidden {
  display: none;
}

.clicked-link {
  border-bottom: 1px solid var(--red);
  background-color: var(--light-dark);
  transition: background-color 0.5s;
}

@media screen and (min-width: 768px) {
  .clicked-link {
    border-left: 1px solid var(--red) !important;
    background-color: var(--light-dark);
    transition: background-color 0.5s;
  }
}

/* UTILS */

/* BODY */

* {
  padding: 0;
  margin: 0;
}

html,
body {
  color: var(--white);
  scroll-behavior: smooth;
}

a {
  color: var(--white);
  text-decoration: none;
  transition: 0.25s;
}

ul {
  list-style: none;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "main  "
    "footer";
  background-color: var(--dark);
  font-family: "Cascadia Mono", sans-serif;
  font-size: 18px;
  padding: 1em;
}

header {
  grid-area: header;
}

main {
  display: grid;
  grid-template-rows: 90vh 100vh 100vh 100vh;
  grid-template-areas:
    "introduction"
    "skills      "
    "about       "
    "exp         ";
  grid-area: main;
}

aside {
  grid-area: aside;
  display: none;
}

footer {
  grid-area: footer;
}

@media screen and (min-width: 650px) {
  body {
    grid-template: 5em 100% 5em / 5em auto;
    grid-template-areas:
      "header header"
      "aside  main "
      "footer footer";
  }

  aside {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 40px;
    position: fixed;
    bottom: 100px;
    z-index: 10;
  }

  aside > a {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: start;
    white-space: nowrap;
    text-decoration: none;
    transform: rotate(-90deg);
    color: var(--white);
    font-size: 15px;
    transition: color 0.25s, font-size 0.25s;
  }

  aside > a:hover {
    color: var(--red);
    font-weight: bold;
    font-size: 16px;
    transition: 0.25s;
  }

  aside > a::before {
    content: " ";
    display: block;
    position: relative;
    height: 1px;
    width: 15em;
    margin-right: 2em;
    background: var(--gray);
  }
}

/* BODY */

/* DEFAULTS */

.section {
  width: 100%;
}

.heading {
  display: flex;
  font-size: 26px;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
}

.heading::before {
  content: " ";
  display: none;
  position: relative;
  height: 1px;
  margin-right: 10px;
  background: var(--gray);
}

.heading::after {
  content: " ";
  display: block;
  position: relative;
  height: 1px;
  width: 100%;
  margin-left: 10px;
  background: var(--gray);
}

@media screen and (min-width: 768px) {
  .heading {
    justify-content: center;
  }
  .heading::before {
    width: 8em;
    display: block;
  }

  .heading::after {
    width: 8em;
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  .heading {
    justify-content: center;
  }
  .heading::before {
    width: 10em;
    display: block;
  }

  .heading::after {
    width: 10em;
    display: block;
  }
}

.navbar > li > a {
  border-bottom: 0px solid transparent;
  text-decoration: none;
  color: var(--white);
}

.navbar > li > a:hover {
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--red);
}

/* DEFAULTS */

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  flex-flow: column;
  gap: 1em;
  font-size: 15px;
}

.header-img {
  width: 75px;
  height: 75px;
}

@media screen and (min-width: 768px) {
  .navbar {
    flex-flow: row;
  }
}
/* HEADER */

/* INTRODUCTION */

.introduction-wrapper {
  grid-area: introduction;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-bottom: 20em;
}

.introduction-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1.5em;
}

.introduction-section {
  font-size: 25px;
}

.introduction-section p {
  font-size: 15px;
  padding: 0 1.5em;
}

@media screen and (min-width: 650px) {
  .introduction-section {
    font-size: 30px;
  }

  .introduction-section p {
    font-size: 18px;
    max-width: 40em;
  }
}

@media screen and (min-width: 768px) {
  .introduction-section {
    font-size: 35px;
  }

  .introduction-section p {
    font-size: 21px;
    max-width: 40em;
  }
}
/* INTRODUCTION */

/* SKILLS */

.skills-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  grid-area: skills;
}

.skill {
  margin: 1em 0;
}

.skill-name {
  margin-bottom: .5em;
}

.skill-bar {
  height: 14px;
  background-color: var(--gray);
  border-radius: 5px;
}

.skill-per {
  height: 14px;
  background-color: var(--red);
  border-radius: 5px;
  position: relative;
}

.skill-per::before {
  color: var(--dark);
  z-index: 11;
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: var(--white);
  border-radius: 4px;
  font-size: 12px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--white);
  top: -20px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .skills-main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }  

  .skill {
    width: 60%;
  }
}

/* SKILLS */

/* ABOUT ME */

.about-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  grid-area: about;
}

.about-main {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.about-desc {
  margin: 1em 0 2em 0;
  max-width: 40em;
}

@media screen and (min-width: 650px) {
  .about-desc {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .about-desc {
    font-size: 21px;
  }
}

@media screen and (min-width: 1000px) {
  .about-main {
    flex-flow: row;
    justify-content: center;
  }

  .about-desc {
    margin-right: 1em;
  }

  .about-img {
    width: 200px;
    height: 200px;
  }
}

/* ABOUT ME */

/* EXPERIENCE */

.exp-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  grid-area: exp;
  overflow-x: auto;
}

.exp-main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.exp-nav {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  margin: 1em 0;
  padding-bottom: 1em;
  overflow-y: hidden;
  overflow-x: auto;
}

.exp-nav li {
  padding: 1em;
  cursor: pointer;
  transition: 0.5s;
}

.exp-desc {
  align-self: flex-start;
  margin-top: 0.5em;
  height: 30vh;
}

.exp-details {
  margin-top: 1em;
}

.exp-details > li {
  padding: 0.2em 0.5em;
}

@media screen and (min-width: 768px) {
  .exp-main {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .exp-nav {
    flex-flow: column;
    align-items: flex-start;
    overflow-y: hidden;
    overflow-x: hidden;
    gap: 0;
  }

  .exp-nav li {
    border-left: 1px solid var(--gray);
    border-bottom: 0px;
    padding: 1em;
  }

  .exp-desc {
    align-self: flex-start;
    margin: 1em 0 0 2em;
    width: 40vw;
  }
}

/* EXPERIENCE */
